Repository Sprint4Team16/Rolling, pull requests merged in 2024-02, with the labels that each got.

#8 [/post] 02.28, post 페이지 업데이트 관련 PR
  src/components/post/postmake/PostButton.js
  src/components/post/postmake/SelectSection.js
  src/pages/Post.js
Labels: /post, requirement

#10 [/post/{id}/message] 02.28, message 페이지 업데이트 관련 PR
  package-lock.json
  package.json
  public/img/bold.svg
  public/img/center_placement.svg
  public/img/italic.svg
  public/img/right_placement.svg
  public/img/underbar.svg
  src/App.js
  src/App.jsx
  src/components/WritingMessage/Button.jsx
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
Labels: /post/{id}/message

#15 [/] 메인 페이지 관련 PR
  src/components/common/Header.js
  src/components/main/MainSection.js
  src/pages/Post.js
Labels: Common, /main

#16 [/lilst] 목업 카드 관련 PR
  src/components/list/CardList.js
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/pages/List.js
Labels: /list

#12 [/post] 02.28, post 페이지 업데이트 관련 PR(2)
  src/components/common/CheckIcon.js
  src/components/post/postmake/ColorSelection.js
  src/components/post/postmake/ImageSelection.js
  src/components/post/postmake/PostInputSection.js
  src/components/post/postmake/ToggleButton.js
  src/pages/Post.js
Labels: /post, requirement, refactor

#17 [/post/{id}] PostId 페이지 관련 PR
  public/img/logo.svg
  src/components/common/Header.js
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: Common, /post/{id}

#19 [Api] Api 모듈 구현 및 적용
  src/Api.js
  src/pages/Post.js
Labels: API

#21 [/message] toast ui 교체, eslint rules 수정
  .eslintrc.js
  package-lock.json
  package.json
  public/index.html
  src/App.js
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
Labels: Common

#22 [API] 롤링페이퍼 대상에게 보내는 메세지 생성 POST 추가
  src/Api.js
  src/pages/Post.js
Labels: Common, API

#23 [/list, API] api 연결해서 recipientcard에 들어갈 정보 받아오기
  src/components/list/CardList.js
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/components/list/RecipientList.js
Labels: /list, requirement, API

#25 [/post/{id}] PostId 페이지 공유 버튼 관련 PR
  public/img/close.png
  src/App.js
  src/components/post/KakaoModal.js
  src/components/post/ShareModal.jsx
  src/components/post/SubHeader.jsx
  src/components/post/useKakaoShare.jsx
  src/index.js
Labels: requirement, /post/{id}

#26 [/post/{id}] PostId 페이지 이모티콘 버튼 관련 PR
  .eslintrc.js
  src/App.js
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/index.js
  src/pages/PostId.jsx
Labels: requirement, /post/{id}
