Repository Sprint4Team16/Rolling, pull requests merged in 2024-03, with the labels that each got.

#27 [API] API 기능 모듈화 및 기존 Api 사용 코드 변경(RecipientList)
  src/App.js
  src/api/DataApi.js
  src/api/GetApi.js
  src/api/PostApi.js
  src/components/list/RecipientList.js
  src/components/post/postmake/PostButton.js
  src/pages/Post.js
  src/pages/PostId.jsx
Labels: Common, API

#29 [/list] 배경이미지 설정
  public/img/pattern_blue.svg
  public/img/pattern_green.svg
  public/img/pattern_orange.svg
  public/img/pattern_purple.svg
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/components/list/RecipientList.js
Labels: /list, requirement

#30 [API] postId에서 id에 해당하는 data를 정상적으로 받아오도록 code 수정
  src/Api.js
  src/App.js
  src/api/GetApi.js
  src/pages/PostId.jsx
Labels: API

#31 [API] PUT, PATCH, DELETE API 추가 및 API 관련 내용 수정
  package-lock.json
  package.json
  src/api/DataApi.js
  src/api/DataMethodApi.js
  src/api/DeleteApi.js
  src/api/GetApi.js
  src/api/PostApi.js
  src/api/PutPatchApi.js
  src/components/list/RecipientList.js
  src/pages/Post.js
  src/pages/PostId.jsx
Labels: Common, API

#32 [API, /post/{id}/message] PostIdMessage 생성하기 POST 기능 연결 및 공통 component(PostButton) 이동 외
  src/api/GetApi.js
  src/api/PostApi.js
  src/api/PutPatchApi.js
  src/components/WritingMessage/Button.jsx
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
  src/components/common/PostButton.js
  src/pages/Post.js
Labels: /post/{id}/message, API

#33 [/post/{id}, /post/{id}/message] 이미지 경로 오류로 렌더링 안되던 문제 해결
  src/components/WritingMessage/WritingForm.jsx
  src/components/common/Dropdown.js
  src/components/common/Header.js
  src/components/main/MainSection.js
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/postmake/ImageSelection.js
  src/components/post/subheader/EmojiDropDown.jsx
  src/pages/PostId.jsx
Labels: bug, /post/{id}, /post/{id}/message

#34 [/post, Common] ToggleButton 동작 방식 변경 및 typescript 모듈 삭제
  package-lock.json
  package.json
  src/components/post/postmake/ToggleButton.js
Labels: bug, Common, /post, refactor

#35 [API, /post/{id}, /post/{id}/edit] Delete 기능 연결, edit 페이지 활성화 및 관련 버튼 요소 생성
  public/img/deleted.svg
  src/App.js
  src/api/DeleteApi.js
  src/components/WritingMessage/WritingForm.jsx
  src/components/common/Button.js
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/common/Buttons/DeleteRecipientButton.js
  src/components/common/Buttons/EditButton.js
  src/components/common/Buttons/PostButton.js
  src/components/list/RecipientList.js
  src/components/post/postmake/ColorSelection.js
  src/pages/Post.js
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: requirement, /post/{id}, /post/{id}/edit, API

#41 [/post/{id}] Sub Header 데이터 받아오고 적용 시키기 및 정렬, 배경화면 받아오기 설정
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/pages/PostId.jsx
Labels: requirement, /post/{id}

#45 [Bug, /post/{id}] 일부 페이지 렌더링 안되는 버그 수정
  src/components/post/Card.jsx
  src/pages/PostId.jsx
Labels: bug, /post/{id}

#46 [bug] eslint 설정 변경
  .eslintrc.js
  src/pages/PostId.jsx
Labels: bug

#47 [/] 스크롤 시 헤더 가려짐 문제 해결
  src/components/common/Header.js
Labels: Common

#48 [/post/{id}] 모든 message 정보를 받을 수 있도록 수정
  src/api/GetApi.js
  src/pages/PostId.jsx
Labels: /post/{id}

#49 [/post/{id}, /post/{id}/edit] PostIdEdit 화면 기본 구성 완료
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/post/Card.jsx
  src/components/post/card/CardItems.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: requirement, /post/{id}, /post/{id}/edit, refactor

#50 [/list] recipientcardlist 가운데 오도록 조절, transient props 적용
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/components/list/RecipientCardList.js
  src/pages/List.js
Labels: /list, requirement

#51 [/post/{id}] PostId 화면에서 Card 렌더링 되도록 수정
  src/components/post/card/CardItems.jsx
  src/pages/PostId.jsx
Labels: bug, requirement, /post/{id}

#53 [/list] useNavigate 사용해 recipientcard 클릭시 post/{id}페이지로 이동
  src/components/list/RecipientCard.js
Labels: /list, requirement

#56 [/post/{id}, /post/{id}/edit, /post] id에 해당하는 message 데이터들 반영, warning 해결
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/post/Card.jsx
  src/pages/Post.js
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: bug, /post, /post/{id}, /post/{id}/edit

#58 [bug] message, recipient 삭제 후 및 Post 기능 실행 후 뒤로가기 제한
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/common/Buttons/DeleteRecipientButton.js
  src/components/common/Buttons/PostButton.js
  src/components/modal/KakaoModal.jsx
  src/components/modal/ModalPortal.jsx
  src/components/modal/ShareToggle.jsx
  src/components/post/SubHeader.jsx
Labels: bug, Common

#60 [/post/{id}] Sub Header Emoji Post로 서버에 저장 관련, PostId 배경화면 image 오류 수정
  src/api/GetApi.js
  src/api/PostApi.js
  src/components/post/subheader/EmojiDropDown.jsx
  src/pages/PostId.jsx
Labels: bug, requirement, /post/{id}, API

#62 [/post/{id}, API] Sub Header Emoji Get으로 데이터 불러오기 관련 작업
  src/api/GetApi.js
  src/components/post/subheader/EmojiDropDown.jsx
Labels: requirement, /post/{id}, API

#63 [post/{id} Card 클릭 시 modal 화면이 나오도록 화면 구현
  src/components/modal/CardModal.jsx
  src/components/post/Card.jsx
Labels: Common, requirement, /post/{id}

#66 [/post/{id}, /post/{id}/edit] Card 삭제 버튼 구현 및 적용, PostId화면으로 돌아가는 버튼 구현
  src/components/common/Buttons/BackToPostButton.jsx
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/post/Card.jsx
  src/components/post/card/CardItems.jsx
  src/pages/PostIdEdit.jsx
Labels: requirement, /post/{id}, /post/{id}/edit

#67 [Common(Modal)] Modal 공통 스타일 변경 및 CardModal 스타일 적용
  src/components/common/ModalWindow.jsx
  src/components/modal/CardModal.jsx
  src/components/post/Card.jsx
Labels: Common, /post/{id}

#69 [/message, /post/id] 반응형 디자인 오류 수정
  src/components/common/Dropdown.js
  src/components/modal/CardModal.jsx
Labels: bug, /post/{id}, /post/{id}/message

#72 [Modal, Refactor] message 수정 버튼 위치 이동 및 ModalWindow 불필요한 코드 삭제
  src/components/common/Buttons/EditMessageButton.js
  src/components/common/ModalWindow.jsx
  src/components/modal/CardModal.jsx
Labels: Common, /post/{id}/edit, refactor

#73 [/list] 터치 슬라이드 구현
  src/components/list/RecipientCard.js
  src/components/list/RecipientCardList.js
Labels: /list, requirement

#74 [/list] list페이지 반응형 추가
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/components/list/RecipientCardList.js
  src/pages/List.js
Labels: /list, requirement, refactor

#75 [/post/{id}] 모달 안의 텍스트 스타일 적용
  src/assets/reset.css
  src/components/modal/CardModal.jsx
Labels: /post/{id}

#76 [Refactor] title, title icon 변경 및 공용 스타일 요소 파일구조 변경
  public/index.html
  src/App.js
  src/assets/global.css
  src/assets/reset.css
  src/index.js
  src/styles/GlobalStyles.jsx
  src/styles/color.css
  src/styles/font.css
  src/styles/reset.jsx
Labels: Common, requirement, refactor

#81 [/post/{id}] PostId 페이지 메세지 작성자 프로필 이미지 불러오기
  public/img/img_01.png
  public/img/img_01.svg
  public/img/img_02.png
  public/img/img_02.svg
  src/components/common/ModalWindow.jsx
  src/components/main/MainSection.js
  src/components/modal/KakaoModal.jsx
  src/components/post/SubHeader.jsx
  src/components/post/subheader/ProfileUser.jsx
  src/components/post/subheader/WrittenByIcons.jsx
  src/pages/PostId.jsx
Labels: /main, requirement, /post/{id}, refactor

#82 [Refactor] Primary40, Outlined36 컴포넌트 추가 및 수정, card hover 시 에니메이션 추가 외
  src/components/common/Buttons/BackToPostButton.jsx
  src/components/common/Buttons/ButtonStyle.jsx
  src/components/common/Buttons/DeleteRecipientButton.js
  src/components/common/Buttons/EditButton.js
  src/components/common/Buttons/EditMessageButton.js
  src/components/common/Buttons/PostButton.js
  src/components/common/Buttons/PutPatchButton.jsx
  src/components/common/Buttons/movePageButton.jsx
  src/components/common/Header.js
  src/components/common/ModalWindow.jsx
  src/components/modal/CardModal.jsx
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/postmake/ColorSelection.js
  src/components/post/postmake/ImageSelection.js
  src/components/post/postmake/ToggleButton.js
  src/components/post/subheader/EmojiDropDown.jsx
  src/pages/PostId.jsx
  src/styles/ButtonStyle.jsx
Labels: Common, /post, requirement, /post/{id}, refactor

#84 [Refactor] Outlined36 스타일 추가 적용
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/post/SubHeader.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/styles/ButtonStyle.jsx
Labels: Common, /post/{id}, refactor

#85 [/list] 좋아요순, 최신순으로 카드 정렬
  src/components/list/ListContent.js
  src/components/list/RecipientCardList.js
  src/pages/List.js
Labels: /list, requirement

#87 [/common] 공통 color, font 수정 작업
  src/components/EditMessage/EditForm.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
  src/components/common/Dropdown.js
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/components/main/MainSection.js
  src/components/modal/CardModal.jsx
  src/components/modal/ShareToggle.jsx
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/postmake/PostInputSection.js
  src/components/post/postmake/SelectSection.js
  src/components/post/postmake/ToggleButton.js
  src/components/post/subheader/EmojiDropDown.jsx
  src/index.js
  src/styles/ButtonStyle.jsx
  src/styles/GlobalStyles.jsx
  src/styles/color.css
  src/styles/font.css
  src/styles/fontStyle.jsx
  src/styles/reset.jsx
Labels: Common, refactor

#88 [bug, 배포] redirct 문제 해결 및 cardmodal 클릭 시 오류 발생 문제 해결
  netlify.toml
  src/components/modal/CardModal.jsx
Labels: bug, Common

#89 [/post/{id}] PostId 페이지 무한 스크롤 구현
  src/api/GetApi.js
  src/components/post/card/CardItems.jsx
  src/components/post/subheader/WrittenByIcons.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: bug, /post/{id}, /post/{id}/edit

#90 [/list] RecipientCard에 메세지 작성자 프로필 이미지 불러오기
  src/components/list/RecipientCard.js
Labels: /list, requirement

#91 [Refactor] px -> rem 단위 변경, 화면 크기에 따른 기준 상수화, 배경 크기 변화에 따른 동적 변화 요소 변경
  README.md
  src/components/EditMessage/EditForm.jsx
  src/components/EditMessage/EditMessage.jsx
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
  src/components/common/Badge.js
  src/components/common/Buttons/BackToPostButton.jsx
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/common/Buttons/PostButton.js
  src/components/common/Buttons/PutPatchButton.jsx
  src/components/common/Buttons/movePageButton.jsx
  src/components/common/CheckIcon.js
  src/components/common/Dropdown.js
  src/components/common/Header.js
  src/components/common/ModalWindow.jsx
  src/components/common/TextField.js
  src/components/list/ListContent.js
  src/components/list/RecipientCard.js
  src/components/list/RecipientCardList.js
  src/components/main/MainSection.js
  src/components/modal/CardModal.jsx
  src/components/modal/KakaoModal.jsx
  src/components/modal/ShareToggle.jsx
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/card/CardItems.jsx
  src/components/post/postmake/ColorSelection.js
  src/components/post/postmake/ImageSelection.js
  src/components/post/postmake/PostInputSection.js
  src/components/post/postmake/SelectSection.js
  src/components/post/postmake/ToggleButton.js
  src/components/post/subheader/EmojiDropDown.jsx
  src/components/post/subheader/ProfileUser.jsx
  src/constants/DISPLAY_SIZE.js
  src/pages/List.js
  src/pages/Post.js
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
  src/styles/fontStyle.jsx
Labels: Common, refactor

#93 [/post] js->jsx 확장자 변경 및 input error 문구 출력 시 div로 출력하여 칸이 밀리는 문제 해결
  src/components/modal/CardModal.jsx
  src/components/modal/KakaoModal.jsx
  src/components/modal/ModalWindow.jsx
  src/components/post/postmake/ColorSelection.jsx
  src/components/post/postmake/ImageSelection.jsx
  src/components/post/postmake/PostInputSection.jsx
  src/components/post/postmake/SelectSection.jsx
  src/components/post/postmake/ToggleButton.jsx
  src/pages/Post.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: /post, /post/{id}, refactor

#94 [/list] list관련 파일 확장자 변경, 태블릿, 모바일 영역 수정, RecipientCard 내부 요소 수정
  public/img/img_02.png
  public/img/img_02.svg
  src/components/list/ListContent.jsx
  src/components/list/RecipientCard.jsx
  src/components/list/RecipientCardList.jsx
  src/components/main/MainSection.js
  src/styles/fontStyle.jsx
Labels: bug, /main, /list, refactor

#96 [Refactor] sboolean타입 오류, 폰트 타입 설정 수정
  public/index.html
  src/App.css
  src/App.js
  src/components/main/MainSection.js
  src/components/post/subheader/ProfileUser.jsx
Labels: refactor

#97 Fix: Card Delete 후 리렌더링 안되던 내용 수정 (임시)
  src/components/common/Buttons/DeleteMessageButton.js
  src/components/post/card/CardItems.jsx
  src/pages/PostIdEdit.jsx
Labels: bug, /post/{id}, /post/{id}/edit

#98 Fix: Offset Undefined 오류 및 무한 스크롤 타겟 높이 설정 수정
  src/api/GetApi.js
  src/components/post/card/CardItems.jsx
  src/pages/PostIdEdit.jsx
Labels: bug, requirement, /post/{id}, /post/{id}/edit, refactor

#99 [Fix] master branch 배포 전 공유 링크 수정
  public/logo512.png
  src/components/modal/ShareToggle.jsx
Labels: Common, requirement

#100 [/post/{id}] 카카오톡 공유시 카톡에 공유되는 스타일 변경
  src/components/modal/KakaoModal.jsx
Labels: /post/{id}

#102 [/list] 좌/우 버튼 클릭 시 카드 잘리지 않도록 수정
  src/components/list/ListContent.jsx
  src/components/list/RecipientCardList.jsx
Labels: /list, requirement, refactor

#103 [Modal, Refactor] 배경 width 감소에 따른 modal(card) 반응형 동작 구현, COLOR 관련 constants 파일 생성
  src/components/EditMessage/EditForm.jsx
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/common/Buttons/movePageButton.jsx
  src/components/common/Header.js
  src/components/list/ListContent.jsx
  src/components/list/RecipientCard.jsx
  src/components/list/RecipientCardList.jsx
  src/components/main/MainSection.js
  src/components/modal/CardModal.jsx
  src/components/modal/ModalWindow.jsx
  src/components/post/Card.jsx
  src/components/post/SubHeader.jsx
  src/components/post/card/CardItems.jsx
  src/components/post/postmake/ColorSelection.jsx
  src/components/post/postmake/ImageSelection.jsx
  src/components/post/postmake/PostInputSection.jsx
  src/components/post/postmake/SelectSection.jsx
  src/constants/COLOR_SET.js
  src/constants/OPTION_SET.js
  src/constants/SIZE_SET.js
  src/constants/TEXT_SET.js
  src/pages/Post.jsx
  src/pages/PostId.jsx
Labels: Common, /post/{id}, /post/{id}/edit, refactor

#105 [README] 팀원별 수행 역할 내용 추가 및 link 추가
  README.md
Labels: documentation, Common

#106 [Refactor] 불필요한 console.log 코드 제거 및 Error 방식 통일 및 README 파일 일부 수정
  README.md
  src/components/EditMessage/EditMessage.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
  src/components/list/RecipientCard.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/pages/List.js
  src/pages/PostId.jsx
Labels: documentation, Common, refactor

#107 [/] 태블릿, 모바일 화면에서 예시 이미지 크기 조절
  src/components/main/MainSection.js
Labels: /main

#108 [Refactor] Buttons 컴포넌트 파일 확장자 변경, movePageButton 파일 이름 파스칼 케이스 적용
  src/components/common/Buttons/DeleteMessageButton.jsx
  src/components/common/Buttons/DeleteRecipientButton.jsx
  src/components/common/Buttons/EditButton.jsx
  src/components/common/Buttons/EditMessageButton.jsx
  src/components/common/Buttons/MovePageButton.jsx
  src/components/common/Buttons/PostButton.jsx
  src/components/main/MainSection.js
  src/pages/List.js
Labels: Common, refactor

#110 [2차 배포] master(main) branch 2차 배포
  README.md
  src/components/EditMessage/EditForm.jsx
  src/components/EditMessage/EditMessage.jsx
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/WritingMessage/WritingMessage.jsx
  src/components/common/Buttons/BackToPostButton.jsx
  src/components/common/Buttons/DeleteMessageButton.jsx
  src/components/common/Buttons/DeleteRecipientButton.jsx
  src/components/common/Buttons/EditButton.jsx
  src/components/common/Buttons/EditMessageButton.jsx
  src/components/common/Buttons/MovePageButton.jsx
  src/components/common/Buttons/PostButton.jsx
  src/components/common/Header.js
  src/components/list/ListContent.jsx
  src/components/list/RecipientCard.jsx
  src/components/list/RecipientCardList.jsx
  src/components/main/MainSection.js
  src/components/modal/CardModal.jsx
  src/components/modal/KakaoModal.jsx
  src/components/modal/ModalWindow.jsx
  src/components/post/card/Card.jsx
  src/components/post/card/CardItems.jsx
  src/components/post/postmake/ColorSelection.jsx
  src/components/post/postmake/ImageSelection.jsx
  src/components/post/postmake/PostInputSection.jsx
  src/components/post/postmake/SelectSection.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/components/post/subheader/SubHeader.jsx
  src/constants/COLOR_SET.js
  src/constants/OPTION_SET.js
  src/constants/SIZE_SET.js
  src/constants/TEXT_SET.js
  src/pages/List.js
  src/pages/Post.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: Common, /main, /list, /post, requirement, /post/{id}, /post/{id}/edit, /post/{id}/message, refactor

#111 Fix: SubHeader에서 API 한 번 더 불러오던 것 수정
  src/components/post/subheader/SubHeader.jsx
  src/components/post/subheader/WrittenByIcons.jsx
  src/pages/PostId.jsx
Labels: bug, /post/{id}, API

#112 [Refactor] api 중복 요청 문제 해결
  src/components/list/RecipientCard.jsx
Labels: bug, /list, refactor

#114 [/post/{id}/edit] 삭제 시 실시간 반영 되도록 로직 수정
  src/components/common/Buttons/DeleteMessageButton.jsx
  src/components/post/card/CardItems.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/pages/PostId.jsx
Labels: /post/{id}/edit, refactor

#115 [/post/{id}/edit] PostIdEdit 페이지에 프로필 이미지 불러오도록 수정
  src/pages/PostIdEdit.jsx
Labels: bug, /post/{id}/edit

#116 [post/{id}, post/{id}/edit, README] 메인페이지 preview gif 파일 추가, CardItem에 대한 반응형 동작 구현, Button 파일 구조 변경 외
  README.md
  src/components/EditMessage/EditForm.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/button/BackToPostButton.jsx
  src/components/button/DeleteMessageButton.jsx
  src/components/button/DeleteRecipientButton.jsx
  src/components/button/EditButton.jsx
  src/components/button/MovePageButton.jsx
  src/components/button/SubmitButton.jsx
  src/components/common/Buttons/EditButton.jsx
  src/components/common/Buttons/EditMessageButton.jsx
  src/components/common/Buttons/PostButton.jsx
  src/components/common/Buttons/PutPatchButton.jsx
  src/components/main/MainSection.js
  src/components/modal/CardModal.jsx
  src/components/post/card/Card.jsx
  src/components/post/card/CardItems.jsx
  src/pages/List.js
  src/pages/Post.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
Labels: Common, requirement, /post/{id}, /post/{id}/edit

#117 [Refactor] 반응형 수정, 주석 제거
  .eslintrc.js
  src/components/EditMessage/EditForm.jsx
  src/components/WritingMessage/TextEditor.jsx
  src/components/WritingMessage/WritingForm.jsx
  src/components/button/BackToPostButton.jsx
  src/components/button/DeleteRecipientButton.jsx
  src/components/common/Dropdown.js
  src/components/list/RecipientCard.jsx
  src/components/main/MainSection.jsx
  src/components/modal/KakaoModal.jsx
  src/components/post/card/Card.jsx
  src/components/post/card/CardItems.jsx
  src/components/post/subheader/EmojiDropDown.jsx
  src/components/post/subheader/SubHeader.jsx
  src/components/post/subheader/WrittenByIcons.jsx
  src/pages/List.jsx
  src/pages/Main.jsx
  src/pages/PostId.jsx
  src/pages/PostIdEdit.jsx
  src/styles/ButtonStyle.jsx
  src/styles/GlobalStyles.js
  src/styles/fontStyle.jsx
  src/styles/reset.js
Labels: refactor

#118 [README] README 파일 작성
  README.md
Labels: documentation, Common, requirement

#121 [/list] 카드 8개 이상일때도 보이도록 기능 추가
  README.md
  src/api/GetApi.js
  src/components/list/RecipientCard.jsx
  src/pages/List.jsx
Labels: /list

#124 [Refactor] Reset, FontStyle 파일명 변경 반영
  src/styles/FontStyle.jsx
  src/styles/Reset.js
Labels: bug, refactor
